@CHARSET "UTF-8";
@import url("home.css");

.notifications_content_all {
	position: relative;
	display: inline-block;
	text-align: left;
	width: 70%;
	height: auto;
/* 	margin-top: 64px; */
	margin-bottom: 50px;
	background-color: #F6F7F9;
	border-radius: 5px;
	font-family: Asap,sans-serif;
	margin-right: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,.1);
	transition: visibility 0s, opacity 0.5s linear;
}

.wrap_notification_username_description {
	width: 90%;
}