@CHARSET "UTF-8";
@import url("search_animes.css");

#animes_content {
}

.main_title {
	background-color: white;
	margin-top: 20px;
}

.not_logged {
 	width: 100%; 
 	display: inline-block;
 	text-align: center;
 	background-color: white;
 	padding: 10px;
}

.anime_column {
	border: 1px solid rgba(211, 211, 211, 0.3);
}

.recommend_new_button_div {
	margin-top: 20px;
	margin-bottom: 25px;
}

.recommend_new_button {
	padding: 10px;
	background: linear-gradient(to bottom,rgba(0,0,0,1) , rgba(0,0,0,1));
	-webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));
	mask: url('http://localhost/anime/assets/css/mask.svg#mask');
}

.recommend_new_button:hover, .recommend_new_button:focus {
	color: white;
}