@CHARSET "UTF-8";
@import url("home.css");

#wrap {
	margin-top:-20px;
}

body {
	padding-top:63px;
	background-color:#E9E9E9;
}

#anime-bar {
	position:relative;
	height:350px;
	width:100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    -webkit-box-shadow: inset 0px -500px 0px -1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px -500px 0px -1px rgba(0,0,0,0.1);
	box-shadow: inset 0px -500px 0px -1px rgba(0,0,0,0.1);
}

.top-container {
	height:500px;
	width: 100%;
	padding-top: 50px;
	z-index: 0;
}

.admin_item {
	font-family: "klavika", Helvetica, Arial, sans-serif;
	font-size: 17px;
	-webkit-font-smoothing: antialiased;
	background: linear-gradient(to bottom,rgba(0,0,0,0) , rgba(0,0,0,1));
	-webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	mask: url('http://localhost/anime/assets/css/mask.svg#mask');
	padding: 5px 30px 5px 30px;
	cursor: pointer;
	font-weight: 700;
}

#edit_div {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}

#show_edits {
	opacity: 1;
	display: inline-block;
	padding: 10px 40px 10px 40px;
	font-size: 15px;
	margin-right:30px;
	margin-bottom: 5px;
	float: right;
}

#edit_cover_button, #edit_poster_button {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#wrap_poster_info_div {
	display:inline-block; 
	position: relative; 
	text-align: center;
}

#edit_poster_span {
	display: none;
	font-size: 50px; 
	position: absolute; 
	top: 0; 
	padding-top: 110px;
	margin-top: 5px;
	color: white;
    overflow:hidden;
    width:100%;
    height:100%;
    cursor: pointer;
}

#submit_info, #edit_cover_label {
	opacity: 1;
	padding: 10px;
	cursor: pointer;
	display:none;
	-webkit-touch-callout: none; 
    -webkit-user-select: none;   /
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;      
    user-select: none;     
    margin-right: 30px;
    margin-bottom: 5px;   
    float: right;  
}

#anime_content {
	position: relative;
	border-radius: 2px;
	background: none;
	border:none;
	z-index: 5;
}

#menu_home_div {
	border-bottom: 3px solid #2F4CA1;
}

#home_menu_title {
	color: #2F4CA1
}

#anime_title_div {
	text-align: center;
}

#anime_info.col-sm-12 {
	background-color: white;
	height:auto;
	min-height:500px;
	padding-bottom: 50px;
	margin-bottom: 50px;
}

#wrap_anime_info_bar {
	padding-top: 10px;
}

.col-sm-9 {
	position: relative;
	background-color: white;
	height:auto;
	min-height:500px;
	padding-bottom: 50px;
	margin-bottom: 50px;
}

#type_episodes_div {
	display:inline-block;
	text-align: center;
	width:220px;
}

#type_episodes {
	letter-spacing: -0.9px;
	font-size:17px;
	margin-top:10px;
	border-right: 1px solid #DEDEDE;
}

#age_rating_div {
	text-align: center;
	display: inline-block;
	width:60px;
}

#age_rating {
	border-right: 1px solid #DEDEDE;
}

#air_end_date_div {
	display: inline-block;
	width:250px;
	border-right: 1px solid #DEDEDE;
	text-align: center;
}

.date {
	display: inline;
	letter-spacing: -0.9px;
	font-size:16px;
}

#rating_div {
	display: inline-block;
	text-align: center;
	border-right: 1px solid #DEDEDE;
}

.star-ratings-sprite {
  font-size: 0;
  height: 23px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 115px;
  margin: 0 auto;
}

.star-ratings-sprite-rating {
    background-position: 0 100%;
    float: left;
    height: 23px;
    display:inline;
}

#ranked_div {
	text-align: center;
	display: inline-block;
	width:150px;
	vertical-align: top;
	margin-top:5px;
}

#poster_image {
	border-radius: 3px;
	display: inline-block;
	margin-top:5px;
	max-height:275px;
	max-width: 200px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
}

.anime_titles {
	width: 200px;
	border-bottom: 1px solid #DEDEDE;
}

#anime_titles_header {
	text-align: center; 
	font-weight: bold; 
	margin-top: 15px; 
	border-bottom: 1px solid #DEDEDE;
}

.anime_titles_p {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #838A91;
}

.modal {
    display: none; 
    position: fixed; 
    padding-top: 170px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
}

#center_div {
	margin: auto;
    display: block;
    width: 100%;
    max-width: 400px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 350px;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@-webkit-keyframes zoom_out {
    from {-webkit-transform:scale(1)} 
    to {-webkit-transform:scale(0)}
}

@keyframes zoom_out {
    from {transform:scale(1)} 
    to {transform:scale(0)}
}

.close {
    position: relative;
    top: 0;
    right:0;
    margin-right: -30px;
    margin-top:-50px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    outline: none;
	border: none;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#show_video {
	margin-top:15px;
	background-color: #2F343B;
	width:210px;
	height:117.6px;
	background-size: cover;
	background-position: 0px -19.6px;
	color: rgba(255,255,255,0.7);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	cursor: pointer;
	text-align: center;
}


#show_video:hover {
	color: white;
}

.fa.fa-youtube-play {
	font-size: 40px;
	margin-top:40px;
}

#youtube_modal {
	padding-top: 100px; 
}

#center_video_div {
	margin: auto;
    display: block;
    max-width: 1200px;
    max-height:700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#anime_video {
   margin: 0 auto;
   display: block;
}

#wrap_synopsis_genres {
	display: inline-block; 
	width: 600px;
	vertical-align: top;
}

#synopsis_div {
	position: relative;
	display: none;
	width:inherit;
	vertical-align: top;
	margin-top:10px;
	margin-bottom: 20px;
	padding-left:10px;
	color: black;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.morecontent span {
    display: none;
}

.morelink {
    display: inline;
    color: #cb3434;
    font-size: 13px;
    cursor: pointer;
}

.morelink:hover {
	color: #651a1a;
}

#anime_genres_div {
	position: relative;
	display: none;
	width: 600px;
	padding-left: 10px;
	color: #838A91;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

#anime_user_watchlist_div {
	display: none;
	height: 70px;
	width: 430px;
	margin: 10px;
	border: 2px solid #E9E9E9;
	padding: 5px;
}

#wrap_watchlist {
	vertical-align: top;
}

#watchlist_button {
	height: 45px;
	min-width: 170px;
	text-align: center;
	padding: 10px;
	margin-top: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#watchlist_button:focus {
	opacity: 1;
	background-color: #651a1a;
}

#watchlist_dropdown {
	min-width: 170px;
	z-index: 5;
}

.watchlist_item {
	cursor: pointer;
}

#watchlist_caret {
	color: white;
	font-size: 20px;
	margin-left: 10px;
}

#anime_user_score_div {
	display: inline-block;
	font-size: 30px;
}

#loader_image_div {
	position: absolute;
	display: none;
	height: 40px;
	width: 40px;
	text-align: center;
	margin-top: -10px;
	margin-left: -30px;
}

.loader_image {
	width: 60px;
	height: 80px;
}

#youtube_trailer_div {
	display: inline-block;
	margin-left:20px;
	vertical-align: top;
	margin-top: -30px;
}

.youtube_trailer_header {
	font-size: 20px;
	text-align: center; 
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif;
}

#reviews {
	min-height: 200px;
	display: inline-block;
	margin-right: 20px;
}


.add_edit_review {
	float: right;
	margin-top:-30px; 
	margin-right: -10px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bolder;
	cursor: pointer;
}


.anime_content_title_div {
	background: #E9E9E9;
	margin-top: -45px;
}

.anime_content_title {
	font-size: 25px;
}

.stat {
	display: block;
	margin: 5px;
}

.status_number {
	display: inline-block;
	margin-left: 8px;
	margin-right: 5px;
	font-weight: bold;
	color: #5AA5CE;
	font-size: 16px;
}

#write_review {
	display: none;
}

.wrap_review {
	margin-top: 20px;
}

.review_header_div {
	height: 70px; 
	width: 100%; 
	position: relative; 
	border-bottom: 1px solid #E9E9E9;
}

.user_review_image_div {
	width:60px;
	height:60px; 
	display:inline-block;
} 

.user_review_image {
	height: 100%; 
	width: 100%; 
	object-fit: cover;
}

.user_name {
	display:inline; 
	vertical-align: top;
	font-family: Arial, Helvetica, sans-serif;
	color: #2F4CA1;
	font-weight: bolder;
}

.review_header_right_part {
	display: inline-block;
	float:right; 
	position: relative;
}

.review_right_p {
	display:block; 
	text-align: right;
}

.review_text {
	color: #6D5E5E;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.read_more {
	color: #cb3434;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

.read_more:hover {
	text-decoration: none;
	color: #651a1a;
}

.read_more:focus, .read_more:active {
	text-decoration: none;
	color: #cb3434;
}

#wrap_write_first_review {
	width: 100%;
	text-align: center;
}

#write_first_review_button {
	font-size: 15px;
	padding: 12px;
	border-radius: 0px;
	font-weight: normal;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#wrap_see_all_reviews {
	width: 100%;
	text-align: center;
}

#see_all_reviews_button {
	padding: 14px 25px 12px 25px;
	font-size: 15px;
	border-radius: 0px;
	font-weight: normal;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#user_stats_div {
	min-height: 200px;
	display: inline-block;
	background: white;
	width: 23%;
	float: right;
	padding-top: 0px;
}

#user_stats {
	font-family: "Open Sans", sans-serif;
	padding: 20px;
}

#stats_square_number {
	display: inline-block;
}

#stats_text {
	display: inline-block;
	vertical-align: top;
}

#stats_text a {
	display: block;
	margin-top: 5px;
	margin-bottom: 7px;
}

.status-square {
	display: inline-block;
	height: 14px;
	width: 14px;
	margin-bottom: -1px;
	margin-right: 3px;
}

.blue {
	background-color: #6F99E4;
}

.green {
	background-color: #8DEA43;
}

.yellow {
	background-color: #FCFC3C;
}

.orange {
	background-color: #FC9F3C;
}

.red {
	background-color: #D93D48;
}

.error {
	display: inline-block;
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	color:red;
	text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

.error_a {
	display: inline-block;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	color:red;
	text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

.star-rating {
    margin: 0 auto;
    display: none;
    padding-top: 7px;
    padding-left: 10px;
}

.rb0:checked ~ .rating,
label.rb0l:hover ~ .rating
{
    width: 0px; 
} 

.rb1:checked ~ .rating,
label.rb1l:hover ~ .rating
{
    width: 16px;
} 

.rb2:checked ~ .rating,
label.rb2l:hover ~ .rating
{
    width: 32px; 
} 

.rb3:checked ~ .rating,
label.rb3l:hover ~ .rating
{
    width: 48px; 
}

.rb4:checked ~ .rating,
label.rb4l:hover ~ .rating
{
    width: 64px;
}
.rb5:checked ~ .rating,
label.rb5l:hover ~ .rating
{
    width: 80px;
}
.rb6:checked ~ .rating,
label.rb6l:hover ~ .rating
{
    width: 96px;
}
.rb7:checked ~ .rating,
label.rb7l:hover ~ .rating
{
    width: 112px;
}
.rb8:checked ~ .rating,
label.rb8l:hover ~ .rating
{
    width: 128px;
}
.rb9:checked ~ .rating,
label.rb9l:hover ~ .rating
{
    width: 144px;
}
.rb10:checked ~ .rating,
label.rb10l:hover ~ .rating
{
    width: 160px; 
}

.star-rating label.star {
    width: 16px; 
    left: -16px; 
    padding: 0;
    height: 40px; 
    position: relative;
    z-index: 3;
    float: left;
    cursor: pointer;
}

.star-rating label.star.last {
    width: 32px;
    cursor: pointer;
}

.star-rating input[type=radio],
.star-rating label.rb
{
    display: none;
}

.rating {
    position: relative;
    z-index: 2;
    top: 4px; 
    height: 32px;
    width:0px;
}

.rating-bg {
    position: relative;
    z-index: 1;
    top: -28px; 
    height: 32px; 
    width: 160px;
}

.ie8 .star-rating input,
.ie8 .star-rating label.rb
 {
    display: inline-block;
}

.ie8 .rating,
.ie8 .rating-bg,
.ie8 .star-rating label.star {
    display: none;
}

@media (min-width: 2130px) {	
	.rating-bg {
		width: 155px;
	}
}

@media (min-width: 2560px) {
	.rating-bg {
		width: 160px;
	}
}

@media (min-width: 2560px) {
	.rating-bg {
		width: 158px;
	}
}

@media (min-width: 5750px) {
	.rating-bg {
		width: 150px;
	}
}

@media (max-width: 1100px) {
	#wrap_synopsis_genres {
		width: 500px;
	}
}

@media (max-width: 970px) {
	#wrap_synopsis_genres {
		width: 400px;
	}
	
	#user_stats {
		width: 100%;
	}
}

@media (max-width: 650px) {
	#wrap_synopsis_genres {
		width: 300px;
	}
}

@media (max-width: 500px) {
	#wrap_synopsis_genres {
		width: 100%;
	}
}

@media (max-width: 390px) {
	#anime_user_watchlist_div {
		margin-left: -20px;
	}
}
