@CHARSET "UTF-8";
@import url("home.css");

body {
	color: black;
}

#character_div {
	background-color: white;
}

#character_name {
	margin-top: 20px;
	font-size: 35px;
	text-align: center;
	font-family: "klavika", Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #DEDEDE;
}

.wrap_left_side_div {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	max-width: 230px;
}

#aliases {
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
	border-bottom: 1px solid #DEDEDE;
	font-family: Arial, Helvetica, sans-serif;
}

#aliases_text {
	font-style: italic;
	color: #86878A;
	border-bottom: 1px solid #DEDEDE;
}

#character_image {
	margin-top: 20px;
	border-radius: 3px;
	display: inline-block;
	max-height: 366px;
	max-width: 250px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
}

#character_info_div {
	display: none;
	height: auto;
	width: 70%;
	margin: 20px;
	margin-bottom: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.i_span {
	font-size: 30px;
	vertical-align: bottom;
	font-family: Arial, Helvetica, sans-serif;
}

.wrap_user_status {
	display: inline-block;
	font-size: 0px;
	margin-top: 20px;
}

.fa-heart {   
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0.7;
}

.fa-stack {
	border: 1px solid #DEDEDE;
	display: inline-block;
	cursor: pointer;
	font-size: 25px;
}

.fa-stack.love {
	padding-left: 13px;
	background-color: #F2F1EC;
	color: #808182;
}

.fa-stack.love:hover {
	color:#E4287C;
	opacity: 1;
}

.fa-stack.hate {
	background-color: white;
	color: #808182;
}

.fa-stack.hate:hover {
	color: black;
	opacity: 1;
}

.fa-bolt {
    top:-5%;
    left:2%;
    font-size:70%;
}

#character_animes_actors_div {
	margin-top: 100px;
}

tr:nth-child(even) {
    background-color: #F2F1EC;
}

#character_anime_actor_row {
}

#anime_roles_header {
	font-size: 25px;
	font-family: "klavika", Helvetica, Arial, sans-serif;
	margin-top: -30px;
}

.anime {
	width: 65%;
}

.actor_name {
	display: block;
}

.actor_flag_image {
	max-width: 16px;
	max-height: 16px;
	vertical-align: top;
	margin-top: 4px;
}

.modal {
    display: none; 
    position: fixed; 
    padding-top: 170px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
}

#center_div {
	margin: auto;
    display: block;
    width: 100%;
    max-width: 400px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 300px;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@-webkit-keyframes zoom_out {
    from {-webkit-transform:scale(1)} 
    to {-webkit-transform:scale(0)}
}

@keyframes zoom_out {
    from {transform:scale(1)} 
    to {transform:scale(0)}
}

.close {
    position: relative;
    top: 0;
    right:0;
    margin-right: -30px;
    margin-top:-50px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    outline: none;
	border: none;
}

.morecontent span {
    display: none;
}

.morelink {
    display: inline;
    color: #cb3434;
    font-size: 13px;
    cursor: pointer;
}

.morelink:hover {
	color: #651a1a;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}