@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
	html {
		position: relative;
    	height: 100%;
	}

	body {
		height:100%;
		background-color: #E9E9E9;
		color: #4F5155;
   		padding-top:63px;
	}

	.main_title {
		font-size: 30px;
		text-align: center;
		color: black;
		padding: 14px 15px 10px 15px;
		border-bottom: 1px solid #D0D0D0;
	}
	
	.navbar-inverse {
		background-color: #2F343B;
	}
	
	.navigation_container {
		display: block;
	}
	
	.nav {
		margin-top: -10px;
	}
	
	.nav.navbar-nav li:hover > a {
	    background-color: #21252B;
	}
	
	.nav.navbar-nav li > a  {
		font-family: cursive;
		font-size: 15px;
		font-weight: bold;
		color:white;
		pointer-events:all;
	}
	
	.nav.navbar-nav ul li > a {
		font-weight: lighter;
		background-color:#2F343B;
	}
	
	ul.nav li.dropdown:hover > ul.dropdown-menu {
  		display: block;
	}
	
	#small_menu_dropdown_div {
		pointer-events: none;
	}
	
	#small_menu_dropdown_div:hover {
		background-color: transparent;
	}
	
	#navigation_small_button {
		margin-top: -20px;
		display: none;
		background-color: #2F343B;
		border: 1px solid white;
		pointer-events:all;
		border-radius: 0px;
		opacity: .8;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
	
	#navigation_small_button:hover {
		border: 1px solid #21252B;
	}
	
	#navigation_small_button:focus {
 		border: 1px solid #21252B;
 	}
 	
 	#navigation_small_button:active {
 		outline:none;
 	}
	
	.navigation .navigation_container .dropdown ul a {
		font-family: cursive;
		font-size: 15px;
		color:white;
		pointer-events:all;
		font-weight: lighter;
	}
	
	.navigation .navigation_container .dropdown ul li:hover > a{
		color:white;
		background-color: #21252B;
	}
	
	#search {
		margin-top: 12px;
	}
	
	.search_select {
		height: 28px;
		margin-right: -4px;
		font-family: cursive;
		background-color: #2F343B;
		color: white;
		outline:none;
		border:none;
		font-size:15px;
		-moz-appearance: none;
   		text-indent: 0.01px;
    	text-overflow: '';
	}
	
	.search_select:focus {
		outline:none;
	}
	
	#search_box {
		width: 300px;	
		height:28px;
		font-size:16px;	
	}
	
	#submit_button {
		background-color:#2F343B; 
		border:none;		
		opacity: 1;
		transition: .3s ease-in-out;
	}
	
	#submit_button:hover {
		opacity: .5;
	}
	
	#submit_button:active {
		outline:none;
	}
	
	#signup_button, #login_button, #navigation_small_signup, #navigation_small_login {
		font-family: cursive;
		font-weight: bold;
		color:white;
		font-size: 13px;
		opacity: 1;
		/* transition: .3s ease-in-out; */
	}
	
	#signup_button:hover, #login_button:hover, #navigation_small_signup:hover, #navigation_small_login:hover {
		background-color: transparent;
		opacity: .5;
	}
	
	#user_button {
		border-radius: 2px;
		height:40px;
		background-color:#23272D;
	}
	
	.profile_menu {
		margin-left:60px;
	}
	
	.small_profile_menu {
		margin-left:40px;
	}
	
	#small_user_button {
		background-color:#23272D;
		border-color:#23272D;
		opacity: .8;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
	
	#small_user_button:hover {
		opacity: 2;
	}
	
	#small_user_button:active {
		outline:none;
	}
	
	#small_user_button:focus {
		border-color:#23272D;
		opacity: 2;
	}
	
	.nav.navbar-nav .profile_menu .dropdown-menu {
		min-width:50px;
	}
	
	.profile_menu {
		margin-right:15px;
	}
	
	.dropdown-submenu {
    	position: relative;
	}

	.dropdown-submenu>.dropdown-menu {
	    top: 0;
	    left: 100%;
	    margin-top: -6px;
	    margin-left: -1px;
	    -webkit-border-radius: 0 6px 6px 6px;
	    -moz-border-radius: 0 6px 6px;
	    border-radius: 0px;
	}
	
	.dropdown-submenu:hover>.dropdown-menu {
	    display: block;
	}
	
	.dropdown-submenu:hover>a:after {
	    border-left-color: #fff;
	}
	
	.dropdown-submenu.pull-left {
	    float: none;
	}
	
	.dropdown-submenu.pull-left>.dropdown-menu {
	    left: -100%;
	    margin-left: 10px;
	    -webkit-border-radius: 6px 0 6px 6px;
	    -moz-border-radius: 6px 0 6px 6px;
	    border-radius: 0px;
	}
	
	.dropdown:hover, .dropdown-menu{
		background-color: #2F343B;
	}
	
	#navigation_small_search {
		margin-top: -30px;
		margin-left:100px;		
		display: none;
	}
	
	.navigation_small_search_option {
		font-family: cursive;
	}
	
	#navigation_small_logsign {
		margin-top: -30px;
		margin-left:470px;		
		display: none;
	}
	
	#navigation_small_signup, #navigation_small_login {
		text-decoration: none;
	}

	#wrap {
  		width: 100%;
  		min-height: 100%;
  		text-align: left;
	}
	
	.container-fluid {
		width:1150px;
	}
	
	.container-fluid.scrollable {
		 height: 100%;
		 min-height:600px;
		 overflow-y: scrollable;
		 border: 1px solid rgba(211, 211, 211, 0.5);
		 background: rgba(211, 211, 211, 0.5);
	}	
	
	#slider {
		margin: auto;
		width: 100%;
		height: 100%;
		background-color: rgba(211, 211, 211, 0.1);
	}
	
	.slide_div {
		width:161px;
		float: left;
	}
	
	.slide_div .slide_img {	
		margin-top: -3px;
		margin-left:-3px;	
		opacity: 1;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		display:inline-block;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	 	-webkit-box-shadow: 0px 18px 25px -1px rgba(0,0,0,0.49);
		-moz-box-shadow: 0px 18px 25px -1px rgba(0,0,0,0.49);
		box-shadow: 0px 18px 25px -1px rgba(0,0,0,0.49); 
	}
	
	.slide_div .slide_img:hover {
    	opacity: .7;
	}
	
	.text-over-img {
		margin-top: -35px;
		padding-left: 5px;
		width:154px;
		font-size:12px;
		color:white;
		text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
        -webkit-font-smoothing: antialiased;
		font-family:serif;	
		background: linear-gradient(to bottom,rgba(0,0,0,0) , rgba(0,0,0,1));
		-webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
		mask: url('http://localhost/anime/assets/css/mask.svg#mask');
	}
	
	.row {
		margin-left: 0px;
	}
	
	.item .row .thumbnail img {
		height: 240px;
	}
	
	.thumbnail {
		border: none;
		background-color: rgba(211, 211, 211, 0.1);
	}
	
	.carousel-control {
		 padding-top:10%;
		 width:3%;
		 height: 240px;
	}
	
	li {
		font-family: cursive;
		font-size: 13px;
	}
	
	#footer {
		position:relative;
	    margin-top: 70px;
	    margin-bottom:-20px;
	    width:100%;
	    height:60px;
	    border-radius: 0px;		
	    background-color:#2F343B;  
	}
	
	#footerContainer {
		text-align: center;
	}
	
	#footerContainer a{
		padding-left: 5px;
		font-size: 12px;
	}
	
	@media (max-width: 1024px) {
		.nav.navbar-nav li a, .nav.navbar-nav .dropdown-menu li a {
			font-size: 13px;
		}	
		#search_box {
			width: 220px;	
			font-size: 9px;
		}
	}

	@media (max-width: 854px) {	
		#logo {
			width: 90px;
			height: 35px;
		}
		.nav.navbar-nav li a, .nav.navbar-nav .dropdown-menu li a {
			font-size: 10px;
		}	

		#login_button, #signup_button {
			font-size: 9px;
		}
		
		#search_box {
			width: 150px;	
		}
		
		.profile_menu {
			margin-left: 10px;
		}
	}
	
	@media (max-width: 737px) {
		.navbar-nav {
			display: none; 
		}	
			
		.navbar-fixed-top {
			position: relative;
			margin-top: -101px;
		}
		
		.navigation_container .navbar-header {
			margin-left: 210px;
		}
		
		.navigation {
			wdith: 100%;
			height: 90px;
		}
		
		#navigation_small_button, #navigation_small_search, #navigation_small_logsign {
			display: block;
		}
		
		#navigation_small_login {
			margin-left: 10px;
		}
		
		#small_search_box {
			width: 200px;	
			font-size: 9px;
		}
		
		.search_select {
			margin-right: -6px;
		}
		
		.container-fluid.scrollable {
			margin-top:-20px;
		}
		
		.small_profile_menu {
			margin-top:0px;
			margin-left:-30px;
		}
		
	}
	
	@media (max-width: 512px) { 
		.navigation_container .navbar-header {
			margin-left: 140px;
		}
		
		#navigation_small_search {
			margin-left: 70px;
		}
		
		#small_search_box {
			width: 130px;		
		}
		
		.search_select {
			width: 50px;
			height: 25px;
		}
		
		#navigation_small_logsign {
			margin-top: 0x;
			margin-left: 335px;	
		}	
		
		#navigation_small_login, #navigation_small_signup {
			font-size: 10px;
		}
		
		.search_select {
			font-size: 9px;
		}
		
	}
	
	@media (max-width: 427px) { 
		.navigation_container .navbar-header {
			margin-left: 60px;
		}
		
		#small_search_box {
			width: 100px;		
		}
		
		.search_select {
			height: 25px;
			width: 60px;
			font-size: 10px;
		}

		#navigation_small_logsign {
			margin-left: 267px;	
		}	
		
		#navigation_small_login, #navigation_small_signup {
			font-size: 9px;
		}
		
		#navigation_small_login {
			margin-left: 0px;
		}
		
		.small_profile_menu {
			margin-top:0px;
			margin-left:0px;
		}
	}
	
/* 	@media (max-width: 361px) { 
		.navigation_container .navbar-header {
			margin-left: 0px;
		}
		
		#navigation_small_button {
			width: 15%;
			height: 3%;
			font-size: 7px;
		}
		
		#logo {
			width: 110px;
			height: 40px;
		}
		
		#small_search_box {
			width: 120px;		
		}
		
		.search_select {
			height: 25px;
			width: 60px;
			font-size: 7px;
		}
		
		#navigation_small_search {
			margin-left: 60px;
		}
		
		#navigation_small_logsign {
			margin-top: 0x;
			margin-left: 200px;	
		}	
		
		#navigation_small_login, #navigation_small_signup {
			font-size: 12px;
		}
		
		#navigation_small_login {
			margin-left: 10px;
		}
		
		.navbar-fixed-top {
			position: relative;
			margin-top: -90px;
		}
		
		.small_profile_menu {
			margin-top:0px;
			margin-left:40px;
		}
		
		body {
			overflow-x: hidden;
			padding-top: 90px;
		}
		
		#slider {
			width: 100%;
			background-color: rgba(211, 211, 211, 0.1);
			margin-bottom:50px;
		}
		
		.slide_div {
			width:100px;
		}
		
		.item .row .thumbnail img {
			width: 90px;
			height: 140px;
		}
		
		.slide_div .slide_img {
			margin-left: 15px;
		}
		
		.carousel-control {
			 height: 310px;
		}
	}
	
	@media (max-width: 321px) { 
		.navigation {
			width: 320px;
		}
		
		.navigation_container .navbar-header {
			margin-left: 30px;
		}
		
		#navigation_small_button {
			width: 3%;
			height: 3%;
			font-size: 7px;
		}
		
		.search_select {
			height: 25px;
			width: 60px;
			font-size: 7px;
		}
		
		#navigation_small_search {
			margin-left: 50px;
		}
		
		#navigation_small_logsign {
			margin-top: 0x;
			margin-left: 220px;	
		}	
		
		#navigation_small_login, #navigation_small_signup {
			font-size: 7px;
		}
		
		#navigation_small_login {
			margin-left: 10px;
		}
		
		.container-fluid.scrollable {
			width:320px;
		}
		
		#slider {
			width: 100%;
			height: 320px;
			background-color: rgba(211, 211, 211, 0.1);
		}
		
		.slide_div {
			width: 87px;
			float: left;
		}
		.item .row .thumbnail img {
			height: 130px;
		}
	}
	
		@media (max-width: 257px) { 
		.navigation_container .navbar-header {
			margin-left: 5px;
		}
		
		#navigation_small_button {
			width: 3%;
			height: 3%;
			font-size: 7px;
		}
		
		#small_search_box {
			width: 50px;		
		}
		
		.search_select {
			height: 25px;
			width: 60px;
			font-size: 7px;
		}
		
		#navigation_small_logsign {
			margin-top: 0x;
			margin-left: 155px;	
		}	
		
		#navigation_small_login, #navigation_small_signup {
			font-size: 7px;
		}
		
		#navigation_small_login {
			margin-left: 10px;
		}

	} 
}*/