
	html {
		position: relative;
    	min-height: 100%;
	}

	 body {
		background-color: #fff;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
		margin: 0 0 100px; /* bottom = footer height */
   		padding: 25px;
   		text-align: center;
	}

	h1 {
		color: #444;
		text-align:center;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 25px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	#container {
		margin: 0 auto;
  		width: 900px;
  		text-align: left;
  		border: 1px solid red;
	}

	#footer {
	    background-color: #3C50D2;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    height:50px;
	    width: 100%;
	    overflow:hidden;
	}
	
	.container-fluid {
		width:1000px;
	}
	
	.nav {
		margin-top: -10px;
	}
	
	#search {
		margin-top: 10px;
		margin-right: -165px;
	}
	
	#search_box {
		width: 250px;		
	}
	
	#search_select {
		height: 26px;
		margin-right: -4px;
	}
	
	#footerContainer {
		text-align: center;
	}
	#footerContainer a{
		padding-left: 5px;
	}

	@media (min-width: 979px) {
  		ul.nav li.dropdown:hover > ul.dropdown-menu {
    	display: block;
  	}
	
	ul.nav a:hover {
		color: black;
		background-color: #222222;
	}
	
	#home_tab, #anime_tab, #characters_tab, #community_tab {
		font-family: cursive;
		font-size: 15px;
		font-weight: bold;
		color:white;
	}
	
	li {
		font-family: cursive;
		font-size: 13px;
	}
	
	.dropdown:hover, .dropdown-menu{
		background-color: #222222;
	}
	
	.dropdown-menu li > a{
		color:white;
	}
	
	.nav .dropdown a:hover {
		color:#4682B4;
	}
	
	#home_tab:hover , #anime_tab:hover , #characters_tab:hover, #community_tab:hover{
		color:#4682B4;
	}
	
	#signup_button, #login_button {
		font-family: cursive;
		font-weight: bold;
		color:white;
		font-size: 13px;
		margin-top:-45px;
	}
	
	#signup_button:hover, #login_button:hover {
		color:#4682B4;
	}
	
}
