@CHARSET "UTF-8";
@import url("home.css");

h1 {
	font-size: 30px;
	text-align: center;
	color: #3C50D2;
	padding: 14px 15px 10px 15px;
	border-bottom: 1px solid #D0D0D0;
}

h3 {
	text-align: center;
	color: #3C50D2;
	padding: 14px 15px 10px 15px;
	border-bottom: 1px solid #D0D0D0;
}

label {
	font-size: 16px;
	display: inline-block;
	width:170px;
	text-align:right;
}

#forgot_password, .center_paragraph {
	margin-left:37%;
	margin-right:25%;
}

.signuplogin_container {
	padding-left:50px;
}

.signuplogin_container input {
	border: 2px solid #dadada;
	font-size: 16px;
	height:40px;
	width:250px;
	margin-top:20px;
	margin-left:10px;
	padding-left: 5px;
	border-radius: 3px;
	display: inline-block;
}

.signuplogin_container input:hover {
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.signloginform {
	margin-left:20%;
}

#table_first_column {
	color:#cb3434;
	text-decoration: none;
}

#table_first_column:hover {
	color:#651a1a;
}

input.submit {
	font-size: 14px;
	width:100px;
	margin-left:180px;
	font-weight: normal;
	border: none;
	opacity: 1;
}

#fb-login {
	margin: 0 auto;
	margin-top: 30px;
	width: 280px;;
}

#update {
	color:white;
	background-color: #2F343B;
	font-size: 14px;
	width:150px;
	margin-left:180px;
}

.row {
	margin-left: -15px;
}

.col-sm-4 {
	border: 1px solid rgba(211, 211, 211, 0.5);
	width:370px;
	height:360px;
	margin-left:10px;
	padding-left: 0px;
}

.title_paragraph {
	padding-top:10px;
	line-height: 15px;
	height:35px;
	text-align: center;
	vertical-align: middle;
}

.anime_title {		
	color:#1D439B;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: -0.5px;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	
}

.anime_title:hover {
	color:#1D439B;
	text-decoration: underline;
}

.anime_title:focus {
	color:#1D439B;
}

.second_paragraph {
	text-align: center;
	margin-bottom: 0px;
	font-size:13px;
}

.third_paragraph {
	display: inline-block;
	height: 60px;
	background-color: rgba(211, 211, 211, 1);
	margin-bottom:0px;
	text-align: center;
	width:368px;
	word-wrap: break-word;
	font-size: 9px;
	line-height: 25px;
	padding-top:2px;
	padding-left:2px;
	padding-right:20px;
	vertical-align: middle;
}

.third_paragraph span {
	padding:3px;
	border-radius: 5px;
	background-color: #DEDEDE;
}

.fa.fa-angle-down, .fa.fa-angle-up {
	display: inline-block;
	position:absolute;
	margin-top:-57px;
	margin-left:180px;
	padding-left:2px;
	padding-right:2px;
	border-radius: 5px;
	background-color: #DEDEDE;
	cursor:pointer;
}

.anime_body {
	margin-top:-30px;
	height:235px;
	width:inherit;
	background-color: #DEDEDE;
	overflow:hidden;
}

.anime_poster {
	width:165px; 
	height:235px;
	display: inline;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.anime_synopsis_block {
	display: inline-block;
	width:203px;  
	vertical-align:top; 
	background-color: #DEDEDE; 
	margin-left:-5px;
	padding:5px;
	height:235px;
	overflow: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.anime_synopsis {
	font-size: 12px;
}

.anime_footer {
	height:30px;
	width:368px;
	line-height: 25px;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:3px;
	padding-left:10px;
	font-size:12px;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #D3D3D3;
}

.anime_date_paragraph {
	display: inline-block;
	width:155px;
}

.anime_rating_paragraph {
	display: inline-block;
	width:70px;
}

.tooltip{
    display:inline;
    position:relative;  
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.container-fluid.scrollable .pagination li a {
	color: #2F343B;
}

.container-fluid.scrollable .pagination li.active a {
	color:white;
	background-color:#2F343B;
	border-color: #2F343B;
}

#anchor {
	margin-left:21.1%;
}

.error {
	color:red;
	display:inline;
}

