@CHARSET "UTF-8";
@import url("home.css");

h1 {
	font-size: 30px;
	text-align: center;
	color: #3C50D2;
	padding: 14px 15px 10px 15px;
	border-bottom: 1px solid #D0D0D0;
}

h3 {
	text-align: center;
	color: #3C50D2;
	padding: 14px 15px 10px 15px;
	border-bottom: 1px solid #D0D0D0;
}

.signup_label {
	font-size: 16px;
	display: inline-block;
	width:170px;
	text-align:right;
}

.center_paragraph {
	margin-left:37%;
	margin-right:25%;
}

.signuplogin_container {
	padding-left:50px;
}

.signuplogin_container input {
	border: 2px solid #dadada;
	font-size: 16px;
	height:40px;
	width:250px;
	margin-top:20px;
	margin-left:10px;
	padding-left: 5px;
	border-radius: 3px;
	display: inline-block;
}

.signuplogin_container input:hover {
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.signloginform {
	margin-left:20%;
}

input.submit {
	font-size: 14px;
	width:100px;
	margin-left:180px;
	font-weight: normal;
	border: none;
	opacity: 1;
}

#fb-login {
	margin: 0 auto;
	margin-top: 30px;
	width: 280px;;
}

#update {
	color:white;
	background-color: #2F343B;
	font-size: 14px;
	width:150px;
	margin-left:180px;
}

#anchor {
	margin-left:21.1%;
}

.error {
	color:red;
	display:inline-block;
	margin-top: 10px;
}

