@CHARSET "UTF-8";
@import url("home.css");

body.modal-open {
    overflow: visible;
}

h1 {
	font-size: 30px;
	text-align: center;
	color: #3C50D2;
	padding: 14px 15px 10px 15px;
	border-bottom: 1px solid #D0D0D0;
}

#anime_filters {
	border-bottom: none;
}

#anime_filters li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

#anime_filters li.active {
	font-weight: bold;
}

#wrap_filters_div {
	margin-bottom: 30px;
}

.filter_tab {
	background-color: white;
	margin-left: 1px;
	padding: 15px;
	color: black;
	font-size: 16px;
	min-height: 60px;
}

input[type=checkbox].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:20px;
							height:15px; 
							display:inline-block;
							line-height:15px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:13px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -15px;
						}
						label.css-label {
				/* background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_0aad05d7af20863960296dafb24c4f30.png); */
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
		}

.genre_div {
	display: inline-block;
	width: 150px;
}

#filter_name {
	width: 100%;
}

#name_search {
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	padding: 10px 5px 10px 5px;
	font-family: "klavika", Helvetica, Arial, sans-serif;
}

#slider-range {
	display: inline-block;
	width: 80%;
}

.avg_range {
	display: inline-block;
	width: 7.4%;
	white-space: nowrap;
}

.range_star {
	vertical-align: top;
	margin-top: 2.5px;
}

.range_text {
	display: inline-block;
	margin-left: 3px;
	font-size: 14px;
	letter-spacing: -0.5px;
}

.ui-slider-handle:focus {
	outline: none;
	border: none;
}

.type_div {
     list-style-type:none;
     padding:0;
     cursor: default;
     margin-bottom: 2px;
}

.type_div li {
	display:inline-block;
	margin-right: 10px;
    position:relative;
    cursor:pointer;
}

.type_div label, .type_div input {
    display:inline-block;
    text-align: center;
    cursor: pointer;
    color: #23272D;
}

.type_div input[type="radio"] {
	position: absolute;
    opacity:0.001;
    z-index:100;
    margin-right: -15px;
}

.type_div input[type="radio"]:checked + label {
    background: #03755E;
    color: white;
}

.type_div input:hover + label {
	color: white;
    background: #03755E;
}

.type_div label {
    padding: 10px 20px 10px 20px;
    border:1px solid #CCC; 
    cursor:pointer;
    background-color: #DEDEDE;
    z-index:90;
}

.type_div label:hover {
	color: white;
    background: #03755E;
}

.to_text {
	font-family: "klavika", Helvetica, Arial, sans-serif; 
	margin-left: 10px; 
	margin-right: 10px;
}

#current_filters_div {
	display: none;
	width: 100%;
	height: auto;
	min-height: 66px;
	border-top: 1px solid #D3D3D3;
	background-color: white;
	margin-left: 1px;
	padding: 10px;
}

#apply_filters_button {
	padding: 7px;
	border-radius: 2px;
	vertical-align: top;
}

#current_filters {
	display: inline-block;
	width: 85%;
	margin-left: 10px;
	margin-top: 1px;
}

#clear_filters {
	display: inline-block;
	margin-right: 10px;
	font-size: 14px;
	margin-top: 4px;
	cursor: pointer;
}

.filter {
	display: inline-block;
	padding: 5px 8px 5px 8px;
	margin-right: 5px;
	margin-bottom: 10px;
	background-color: #F9F8F4;
	font-size: 13px;
	border: 1px solid #D3D3D3;
	border-radius: 10px;
	cursor: pointer;
}

.filter:hover .delete_filter_span {
	color: #cb3434;
}

.clear_filters {
	display: inline-block;
	margin-right: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 13px;
	cursor: pointer;
}

.delete_filter_span {
	font-size: 11px;
	font-weight: bold;
}

.row {
	margin-left: -15px;
}

.col-sm-4 {
	border: 1px solid rgba(211, 211, 211, 0.5);
	width:370px;
	height:360px;
	margin-left:10px;
	padding-left: 0px;
}

.title_paragraph {
	padding-top:10px;
	line-height: 15px;
	height:35px;
	text-align: center;
	vertical-align: middle;
}

.anime_title {		
	color:#1D439B;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: -0.5px;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	
}

.anime_title:hover {
	color:#1D439B;
}

.anime_title:focus {
	color:#1D439B;
}

.second_paragraph {
	text-align: center;
	margin-bottom: 0px;
	font-size:13px;
}

.third_paragraph {
	display: inline-block;
	height: 60px;
	background-color: rgba(211, 211, 211, 1);
	margin-bottom:0px;
	text-align: center;
	width:368px;
	word-wrap: break-word;
	font-size: 9px;
	line-height: 25px;
	padding-top:2px;
	padding-left:2px;
	padding-right:20px;
	vertical-align: middle;
}

.third_paragraph span {
	padding:3px;
	border-radius: 5px;
	background-color: #DEDEDE;
}

.fa.fa-angle-down, .fa.fa-angle-up {
	display: inline-block;
	position:absolute;
	margin-top:-57px;
	margin-left:180px;
	padding-left:2px;
	padding-right:2px;
	border-radius: 5px;
	background-color: #DEDEDE;
	cursor:pointer;
}

.anime_body {
	margin-top:-30px;
	height:235px;
	width:inherit;
	background-color: #DEDEDE;
	overflow:hidden;
}

.anime_poster {
	width:165px; 
	height:235px;
	display: inline;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.anime_synopsis_block {
	display: inline-block;
	width:203px;  
	vertical-align:top; 
	background-color: #DEDEDE; 
	margin-left:-5px;
	padding:5px;
	height:235px;
	overflow: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.anime_synopsis {
	font-size: 12px;
}

.anime_footer {
	height:30px;
	width:368px;
	line-height: 25px;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:3px;
	padding-left:10px;
	font-size:12px;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #D3D3D3;
}

.anime_date_paragraph {
	display: inline-block;
	width:155px;
}

.anime_rating_paragraph {
	display: inline-block;
}

.anime_user_status_paragraph, .not_logged_add_paragraph {
	display: inline-block;
	height: 22px;
	float: right;
	margin-top: 2px;
	font-size: 11px;
	cursor: pointer;
	padding: 0px 5px 20px 5px;
	border-radius: 5px;
	background-color: #DEDEDE;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	vertical-align: top;
}

.anime_user_status_paragraph:hover, .not_logged_add_paragraph:hover {
	background-color: #e6e6e6;
}

.status-square {
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-bottom: -1px;
	margin-right: 3px;
}

.blue {
	background-color: #6F99E4;
}

.green {
	background-color: #8DEA43;
}

.yellow {
	background-color: #FCFC3C;
}

.orange {
	background-color: #FC9F3C;
}

.red {
	background-color: #D93D48;
}

#change_status_modal {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#watchlist_button {
	display: inline-block;
	width: 140px;
	text-align: center;
	font-size: 13px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;	
	-webkit-transition: none;
	transition: none;
}

#watchlist_button:focus {
	opacity: 1;
	background-color: #651a1a;
}

#watchlist_dropdown {
	margin-left: 132px;
	font-size: 13px;
	max-width: 140px;
	min-width: 140px;
	z-index: 3;
	cursor: pointer;
}

.w3-dropdown-content a {
	padding: 2px 7px;
}

.watchlist_caret {
	display: inline;
	color: white;
	font-size: 13px;
	margin-left: 10px;
}

.wrap_modal_elements {
	position: fixed;
	top: 45%;
	left: 50%;
    transform: translate(-50%, -50%);
}

.modal-dialog {
	width: 500px;
}

.modal-header {
	padding: 5px 10px;
}

.body_title {
	display: inline;
	font-size: 20px;
}

.close_modal {
	margin-top: 90px;
	width: 100px;
	text-align: center;
	display: block;
	padding: 10px 10px 10px 10px;
	-webkit-transition: none;
	transition: none;
}

.close_modal:hover {
	color: white;
}

.tooltip {
    display:inline;
    position:relative;  
}

.container-fluid.scrollable .pagination li a {
	color: #2F343B;
}

.container-fluid.scrollable .pagination li.active a {
	color:white;
	background-color:#2F343B;
	border-color: #2F343B;
}

.star-rating {
	margin-left: 10px;
	padding-top: 6px;
    height: 28px;
    display: inline-block;
}

.rb0:checked ~ .rating,
label.rb0l:hover ~ .rating
{
    width: 0px; 
} 

.rb1:checked ~ .rating,
label.rb1l:hover ~ .rating
{
    width: 11.5px;
} 

.rb2:checked ~ .rating,
label.rb2l:hover ~ .rating
{
    width: 23px; 
} 

.rb3:checked ~ .rating,
label.rb3l:hover ~ .rating
{
    width: 34.5px; 
}

.rb4:checked ~ .rating,
label.rb4l:hover ~ .rating
{
    width: 46px;
}
.rb5:checked ~ .rating,
label.rb5l:hover ~ .rating
{
    width: 57.5px;
}
.rb6:checked ~ .rating,
label.rb6l:hover ~ .rating
{
    width: 69px;
}
.rb7:checked ~ .rating,
label.rb7l:hover ~ .rating
{
    width: 80.5px;
}
.rb8:checked ~ .rating,
label.rb8l:hover ~ .rating
{
    width: 92px;
}
.rb9:checked ~ .rating,
label.rb9l:hover ~ .rating
{
    width: 103.5px;
}
.rb10:checked ~ .rating,
label.rb10l:hover ~ .rating
{
    width: 115px; 
}

.star-rating label.star {
    width: 11.5px; 
    left: -11.5px; 
    padding: 0;
    height: 28px; 
    position: relative;
    z-index: 3;
    float: left;
    cursor: pointer;
    white-space: nowrap;
}

.star-rating label.star.last {
    width: 11.5px;
    cursor: pointer;
    white-space: nowrap;
}

.star-rating input[type=radio],
.star-rating label.rb
{
    display: none;
}

.rating {
    position: relative;
    z-index: 2;
    top: 4px; 
    height: 32px;
    width:0px;
}

.rating-bg {
    position: relative;
    z-index: 1;
    top: -28px; 
    height: 32px; 
    width: 115px;
}

.ie8 .star-rating input,
.ie8 .star-rating label.rb
 {
    display: inline-block;
}

.ie8 .rating,
.ie8 .rating-bg,
.ie8 .star-rating label.star {
    display: none;
}

#loader_image_div {
	position: absolute;
	display: none;
	text-align: center;
	margin-top: -15px;
}

#loader_image {
	width: 60px;
	height: 80px;
}

@media (max-width: 970px) {		
	#slider-range {
		width: 81%;
	}
}

@media (max-width: 770px) {		
	#current_filters {
		width: 75%;
	}
	
	#slider-range {
		width: 83%;
	}
}

@media (max-width: 650px) { 
	#slider-range {
		width: 85%;
	}
}

@media (max-width: 490px) {	
	#current_filters {
		width: 65%;
	}
	
	.range_star {
		margin-top: 5px;
	}
	
	.range_text {
		font-size: 10px;
	}
	
	#slider-range {
		width: 90%;
	}
}

@media (max-width: 390px) {	
	#current_filters {
		width: 50%;
	}
	
	.range_star {
		margin-top: 5px;
	}
	
	.range_text {
		font-size: 8px;
	}
	
	#slider-range {
		width: 94%;
	}
}