@CHARSET "UTF-8";
@import url("home.css");

.container-fluid.scrollable {
	background-color: #E9E9E9;
}

.nav.nav-tabs {
	margin-bottom: 20px;
	border-radius: 5px;
}

.nav.nav-tabs li {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

.nav.nav-tabs li a:hover {
	background-color: #DEDEDE;
}

.nav-tabs > li.active > a:hover {
	background-color: white;
}

.nav.nav-tabs li a {
	width: 100%;
}

#change_acc_info_div {
	width: 550px;
    margin: 0 auto; 
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
}

#title {
	background-color:DEDEDE;
	text-align: center;
	font-size:20px;
	color: black;
	padding: 14px 15px 10px 15px;
	border-bottom: 1px solid #D0D0D0;
}

.signloginform input {
	border: 2px solid #dadada;
	font-size: 16px;
	height:40px;
	width:250px;
	padding-left: 5px;
	border-radius: 3px;
	display: block;
	margin: 0 auto;
}

.signloginform label {
	font-size:15px;
	display: block;
	margin-left:131px;
	font-family: Arial, Helvetica, sans-serif;
}

input.submit {
	opacity: 1;
	font-size: 14px;
	width:100px;
	height:35px;
    margin-left:200px;
    border: none;
    font-weight: normal;
}

input.submit_privacy {
	display: block;
	opacity: 1;
	font-size: 14px;
	min-width:130px;
	min-height:35px;
	margin-top: 30px;
	margin-left: 205px;
	padding: 10px 10px 10px 10px;
    border: none;
    font-weight: normal;
}

#fb-login {
	margin: 0 auto;
	margin-top: 30px;
	width: 50%;
}

.preferences_div label{
	font-size: 16px;
	margin-right: 10px;
	text-align: right;
	width: 190px;
}

.preferences_div {
	padding: 30px 10px 10px 0px;
	width: 100%;
}

.preferences_dropdown {
	font-size: 16px;
	padding: 5px 10px 5px 10px;
	border: 1px solid #DEDEDE;
	vertical-align: top;
}

#submit_privacy {
	display: block;
}

.loading_div {	
	display: none;
	height: 100px;
	width: 100px;
	white-space: nowrap;
	text-align: center;
	float: right;
	margin-top: -70px;
}

.loading_icon {
	max-width: 200px;
	max-height: 500px;	
	height: 100px;
	vertical-align: middle;
}

.error {
	color:red;
	display:inline;
	margin-left: 135px;
}