@CHARSET "UTF-8";
@import url("home.css");

body {
	padding-top:63px;
	background-color:#E9E9E9;
}

#user_content {
	border-radius: 2px;
	margin-top: 20px;
	/* background-color: rgba(211, 211, 211, 0.5); */
	background: none;
	border:none;
}

.top-container {
	position:realative;
	height:500px;
	width: 100%;
	padding-top: 100px;
}

#user-bar {
	position:relative;
	height:12cm;
	width:100%;
	margin-top: -60px;
	background-repeat: repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    -webkit-box-shadow: inset 0px -500px 0px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px -500px 0px -1px rgba(0,0,0,0.2);
	box-shadow: inset 0px -500px 0px -1px rgba(0,0,0,0.2);
}

#user_image_div {
	width:110px;
	height:110px;
}

.thumbnail {
	position:absolute;
	background: transparent;
	bottom:0;
	margin-bottom:50px;
}

#user_image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor:default;
}

#username {
	position:absolute;
	bottom:0;
	margin-bottom:60px;
	margin-left:130px;
	font-weight:500;
	color:white;
	text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

#user_navigation_div {
	position: absolute;
	bottom:0;
	margin-bottom:10px;
}

#user_navigation_div > a button {
	background-color: #23272D;
	outline:none;
	border:1px solid #23272D;
	font-weight: 700;
	opacity: .7;
	transition: .3s ease-in-out;
	
}
#user_navigation_div > a button:hover {
	opacity:1;
}

#show_edits {
	background-color: #23272D;
	border:none;
	outline:none;
	padding-left:40px;
	padding-right:40px;
	font-size: 15px;
	display: block;
	margin-left:69px;
	margin-top:130px;
}

#show_edits:hover {
	background-color: #2F343B;
	opacity: 1;
}

#show_edits:active {
	background:none;
	outline:none;
}

#show_edits:focus {
	background-color: #2F343B;
}

#edit_avatar_button, #edit_cover_button {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#submit_info, #edit_avatar_label, #edit_cover_label {
	position:absolute;
	margin-top:115px;
	color:white;
	background-color: #23272D;
	outline:none;
	border:none;
	padding: 10px;
	cursor: pointer;
	display:none;
	-webkit-touch-callout: none; 
    -webkit-user-select: none;   /
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;      
    user-select: none;           
}

#submit_info {
	margin-left:150px;
	margin-top: 115px;
}

#edit_avatar_label {
	margin-left:-830px;
	margin-top:40px;
}

#submit_info:hover, #edit_cover_label:hover, #edit_avatar_label:hover {
	background-color:#2F343B;
	opacity: 1;
}

h1 {
	text-align: left;
	color:#23272D;
}

#edit_div {
	position: relative;
	left:85%;
	top:42%;
}

#follow_div {
	position:relative;
	left:85%;
	top:42%;
}

#follow_button {
	background-color:#4f74e3w;
	border:none;
	outline:none;
	padding-left:50px;
	padding-right:50px;
	font-size: 15px;
	display: block;
	margin-left:30px;
	margin-top:130px;
	opacity: 1;
}

#follow_button:hover {
	background-color: #4169e1;
	opacity: 1;
}

#follow_button:active {
	background:none;
	outline:none;
}

#follow_button:focus {
	background-color: #4169e1;
}


#personal_info_div {
	width:450px;
	height:auto;
	border-radius: 2px;
}

.div_title {
	background-color: rgba(211, 211, 211, 0.5);
	padding-top:5px;
	padding-left:10px;
	padding-bottom:1px;
}

.div_title > p {
	font-size: 16px;
	font-family: cursive;
}

.div_content  {
	background-color: white;
	padding-top:20px;
	padding-left:10px;
	padding-bottom:10px;
}

.edit_icon {
	float: right; 
	margin-right: 5px;
	margin-top: 5px;
	display:inline-block;
	cursor:pointer;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.edit_icon:hover {
	color:red;
}

#user_description {
	margin-bottom: 30px;
}

#edit_content_div {
	display:none;
}

.save_button {
	float:right;
	outline:none;
	border:none;
	background-color:#23272D;
	display:none;
	font-size: 11px;
	margin-right: 10px;
	opacity: 0.8;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.save_button:hover {
	opacity: 1;
	background-color:#23272D;
}

.save_button:focus {
	outline:none;
	background-color:#23272D;
}

.btn.btn-primary.save_button:active {
	background-color:#23272D;
}

#user_description_area {
	margin-left:10px;
	margin-top:10px;
	max-width:410px;
	border: 1px solid rgba(211, 211, 211, 1);
}

#user_description_area_char_count {
	float:right;
	margin-right:5px;
	
}

#age_edit, #gender_edit, #location_edit {
	border: 1px solid rgba(211, 211, 211, 1);
	padding-left:5px;
}

#wtf_age { 
	display:none;	
	color:red;
}

.error {
	position:absolute;
	margin-left:-40%;
	margin-top:25px;
	color:red;
	text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

.error_a {
	position:absolute;
	margin-left:-95%;
	margin-top:25px;
	color:red;
	text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}