@CHARSET "UTF-8";
@import url("home.css");

.container-fluid.scrollable {
	background-color: #E9E9E9;
}

#change_acc_info_div {
	width: 550px;
    margin: 0 auto; 
    border: 1px solid black;
    background-color:#DEDEDE;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
    margin-bottom:100px;
}

#title {
	background-color:DEDEDE;
	text-align: center;
	font-size:20px;
	color: black;
	padding: 14px 15px 10px 15px;
	border-bottom: 1px solid #D0D0D0;
}

.signloginform input {
	border: 2px solid #dadada;
	font-size: 16px;
	height:40px;
	width:250px;
	padding-left: 5px;
	border-radius: 3px;
	display: block;
	margin: 0 auto;
}

.signloginform label {
	font-size:15px;
	display: block;
	margin-left:131px;
	font-family: Arial, Helvetica, sans-serif;
}

#submit {
	color:white;
	background-color: #2F343B;
	font-size: 14px;
	width:100px;
	height:35px;
    margin-left:200px;
}

.error {
	color:red;
	display:inline;
}