@CHARSET "UTF-8";
@import url("home.css");

body.modal-open {
    overflow: visible;
}

#confirm_delete_modal {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.wrap_modal_elements {
	position: fixed;
	top: 45%;
	left: 50%;
    transform: translate(-50%, -50%);
}

.close {
	padding: 5px;
}

.modal-header, .modal-body, .modal-footer {
	background-color: white;
	width: 600px;
}

.modal-header {
	padding: 0px 0px 0px 20px;
	height: 50px;
}

.modal-body {
	height: auto;
}

.modal-footer {
	position: relative;
	height: 50px;
}

.btn.danger, .btn.secondary {
	background-color: #EEEEEE;
	margin-top: -10px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.btn.danger:hover, .btn.secondary:hover {
	background-color: #b3b3b3;
}

.hide {
	display: none;
}

.fade {
   opacity: 0;
   -webkit-transition: opacity 0.1s linear;
      -moz-transition: opacity 0.1s linear;
       -ms-transition: opacity 0.1s linear;
        -o-transition: opacity 0.1s linear;
           transition: opacity 0.1s linear;
}
 
.not_logged {
 	width: 100%; 
 	display: inline-block;
 	text-align: center;
 	background-color: white;
 	padding: 10px;
 	float: right;
 	margin-right: 25px;
 	margin-top: -40px;
}

.not_logged_permalink {
	width: 100%; 
	background-color: white;
	padding: 10px;
	margin-top: 30px;
}

#timeline {
	background-color: #23272D;
	opacity: 1;
}

#personal_info_div {
	width:450px;
	margin-top: 20px;
	height:auto;
	border-radius: 2px;
	display: inline-block;
	vertical-align: top;
}

.div_title {
	background-color: rgba(211, 211, 211, 0.5);
	padding-top:5px;
	padding-left:10px;
	padding-bottom:1px;
}

.div_title > p {
	font-size: 16px;
	font-family: cursive;
}

.div_content  {
	background-color: white;
	padding-top:20px;
	padding-left:10px;
	padding-bottom:10px;
}

.edit_icon {
	float: right; 
	margin-right: 5px;
	margin-top: 5px;
	display:inline-block;
	cursor:pointer;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.edit_icon:hover {
	color:red;
}

#user_description {
	margin-bottom: 30px;
}

#edit_content_div {
	display:none;
}

#save_user_info {
	font-weight: normal;
	float:right;
	display:none;
	font-size: 11px;
	margin-right: 10px;
}

#user_description_area {
	margin-left:10px;
	margin-top:10px;
	max-width:410px;
	border: 1px solid rgba(211, 211, 211, 1);
}

#user_description_area_char_count {
	float:right;
	margin-right:5px;
	
}

.edit_birth {
	padding: 5px 5px 5px 5px;
}

#gender_edit, #location_edit {
	border: 1px solid rgba(211, 211, 211, 1);
	padding-left:5px;
}

#user_left_side_panel {
	display: block;
}

.wrap_header {
	border-bottom: 1px solid #d9d9d9;
}

.status_header {
	margin-top: 15px;
	margin-bottom: 0px;
	font-size: 18px;
	font-family: Asap,sans-serif;
	font-weight: bold;
	display: inline-block;
	padding-bottom: 0px;
}

.status_div {
	margin-top: 15px;
	margin-bottom: 15px;
}

.tooltip_m .tooltiptext {
	width: 150px;
	padding: 5px 5px;
	left: 33%;
	font-size: 12px;
}

.life_on_anime_div {
	padding: 20px;
}

.life_status {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
}

.time_number {
	display: inline-block;
	/* min-width: 40px; */
}
.time_text {
	font-weight: normal;
	font-size: 16px;
	margin-right: 10px;
}

.wrap_watchlist_status_div {
	display: inline-block;
	width: 60%;
	height: 200px;
	vertical-align: top;
	font-family: "Open Sans", sans-serif;
	padding: 20px;
}

.stat {
	display: block;
	margin: 5px;
}

#stats_square_number {
	display: inline-block;
}

#stats_text {
	display: inline-block;
	vertical-align: top;
}

#stats_text a {
	display: block;
	margin-top: 5px;
	margin-bottom: 7px;
}

.all_episodes_div {
	display: inline-block;
	width: 35%;
	height: 200px;
	font-size: 30px;
	vertical-align: top;
	font-family: "Open Sans", sans-serif;
}

.status-square {
	display: inline-block;
	height: 13px;
	width: 13px;
	margin-bottom: -1px;
	margin-right: 3px;
}

.blue {
	background-color: #6F99E4;
}

.green {
	background-color: #8DEA43;
}

.yellow {
	background-color: #FCFC3C;
}

.orange {
	background-color: #FC9F3C;
}

.red {
	background-color: #D93D48;
}

.status_number {
	display: inline-block;
	margin-left: 8px;
	margin-right: 5px;
	font-weight: bold;
	color: #5AA5CE;
	font-size: 16px;
}

.total_episodes_paragraph {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-top: -5px;
	border-left: 1px solid #DEDEDE;
}

.total_episodes {
	font-size: 30px;
	font-family: sans-serif;
}

.total_episodes_text {
	display: block;
	font-size: 14px;
}

#ratings_chart_div {
	height: 250px;
	background-color: transparent;
	margin-left: -43px;
}

.character_image_div {
	width: 85px;
	height: 132px; 
	display:inline-block;
}

.character_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2px;
}

.see_all_characters_button {
	margin-top: 15px; 
	display: inline-block;
	border-radius: 2px;
	font-size: 16px;
	float: right;
	font-family: Asap,sans-serif;
	-webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));
	mask: url('http://localhost/anime/assets/css/mask.svg#mask');
}

#wrap_right_side {
	display: inline-block;
	width: 56%;
	float: right;
	margin-top: 60px;
}

#wrap_area_options {
	display: inline-block;
	width: 100%;
	margin-right: 25px;
	margin-top: -40px;
	float: right;
}

#new_post_area {
	display: inline-block;
	width: 100%;
	resize: none;
	overflow: hidden;
	outline: none;
	padding: 10px;
	font-size: 16px;
	border-radius: 2px;
	border: none;
}

#post_options {
	display: none;
	width: 100%;
	position: relative;
	height: 40px;
	background-color: #F5F5F5;
	margin-top: -10px;
}

#submit_post {
	float: right;
	margin-right: 10px;
	margin-top: 4px;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	cursor: pointer;
}

#timeline_div {
	display: inline-block;
	height: auto;
	margin-right: 25px;
	width: 100%;
	margin-bottom: 50px;
	float: right;
}

.post {
	position: relative;
	height: auto;
	width: 100%;
	margin-bottom: 90px;
	margin-top: 30px;
	border-radius: 2px;
	background-color: white;
	font-family: "Open Sans", sans-serif;
}

.post_header {
	height: 70px;
	width: 100%;
	padding: 15px;
}

.post_header .user_image_div {
	vertical-align: top;
	width:50px;
	height:50px; 
	display:inline-block;
} 

.post_header .user_image {
	height: 100%; 
	width: 100%; 
	object-fit: cover;
	border-radius: 3px;
}

.post_header .user_name {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
}

.post_settings_div {
	display: inline-block;
	float: right;
	font-size: 20px;
	vertical-align: top;
	color: #A9AAAC;
}

.open_post_settings {
	cursor: pointer;
}

.post_settings {
	position: absolute;
	width: 120px;
	z-index: 10;
	display: none;
	background-color: white;
	border: 1px solid #DEDEDE;
	font-size: 14px;
	text-align: left;
	color: black;
	margin-left: -100px;
	cursor: pointer;
}

.post_option {
	padding: 5px 20px 5px 20px;
}

.post_option:hover {
	background-color: #F5F5F5;
}

.post_header .post_time {
	display: block;
	margin-top: -20px;
	margin-left: 65px;
	font-size: 14px;
	color: gray;
}

.remove_post {
	display: inline-block;
	float: right;
	font-size: 13px;
	color: gray;
	cursor: pointer;
}

.post_body {
	height: auto;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #DEDEDE;
}

.wrap_edit_post_area_div {
	padding: 20px;
	height: auto;
	width: 100%;
	text-align: right;
}

.edit_post_area {
	width: 100%;
	padding: 5px;
	resize: none;
	border: 1px solid #2F4CA1;
	border-radius: 2px;
}

.save_edit_post {
	padding: 8px 15px 8px 15px;
	cursor: pointer;
}

.comments {
	width: 100%;
	height: auto;
}

.comment {
	width: 100%;
	padding: 10px;
	background-color: #F5F5F5;
	border-bottom: 1px solid #DEDEDE;
}

.comment .user_image_div {
	vertical-align: top;
	width:40px;
	height:40px; 
	display:inline-block;
} 

.comment .user_image {
	height: 100%; 
	width: 100%; 
	object-fit: cover;
	border-radius: 3px;
}

.comment .user_name {
	display: inline-block;
	vertical-align: top;
	margin-left: 0px;
	font-size: 14px;
	font-weight: bold;
}

.comment .post_settings_div {
	margin-right: 5px;
}

.comment .post_time {
	display: block;
	margin-left: 50px;
	font-size: 14px;
	color: gray;
}

.comment_text {
	display: inline-block;
	vertical-align: top;
	width: 83%;
	margin-left: 5px;
}

.read_more {
	color: #cb3434;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

.read_more:hover {
	text-decoration: none;
	color: #651a1a;
}

.read_more:focus, .read_more:active {
	text-decoration: none;
	color: #cb3434;
}

.morecontent span {
    display: none;
}

.morelink {
    display: inline;
    color: #cb3434;
    font-size: 13px;
    cursor: pointer;
}

.morelink:hover {
	color: #651a1a;
}

.post_footer {
	position: absolute;
    bottom: 0;
	height: 70px;
	width: 100%;
	padding: 10px;
	margin-bottom: -70px;
	background-color: #F5F5F5;
}

.submit_comment {
	width: 100%;
	height: 40px;
	margin-top: 5px;
	border: 1px solid #DEDEDE;
	border-radius: 2px;
	font-family: "Open Sans", sans-serif;
	padding: 10px;
}

.submit_comment:focus{
	outline: none;
}

#loader_image_div {
	position: relative;
	display: none;
	height: 100px;
	text-align: center;
	width: 100%;
}

.loader_image {
	width: 100px;
	height: 100px;
}

@media (max-width: 1100px) {		
	#wrap_right_side {
		width: 53%;
	}
}

@media (max-width: 970px) {		
	#wrap_right_side {
		width: 47%;
	}
}

@media (max-width: 770px) {			
	#wrap_right_side {
		width: 100%;
		margin-top: 20px;
	}
	
	#timeline_div {
		width: 100%;
		margin: 20px 0px 20px 0px;
	}
	
	#wrap_area_options {
		margin: 20px 0px 0px 0px;
		width: 100%;
	}

	.not_logged {
		width: 100%;
		margin-top: 30px;
		margin: 20px 0px 0px 0px;
	}
}

@media (max-width: 390px) {		 
	#personal_info_div {
		width: 100%;
	}
	
	.comment {
		padding: 4px;
	}
}