@CHARSET "UTF-8";
@import url("home.css");

#wrap {
	margin-top:-20px;
}

body {
	padding-top:63px;
}

#anime-bar {
	position:relative;
	height:350px;
	width:100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    -webkit-box-shadow: inset 0px -500px 0px -1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px -500px 0px -1px rgba(0,0,0,0.1);
	box-shadow: inset 0px -500px 0px -1px rgba(0,0,0,0.1);
}

#back_link {
	display: block;
}

#go_back {
	margin-top: 30px;
	font-size: 16px;
}

#wrap_review_header {
	position: relative;
}

#user_info_div {
	position: relative;
	display: inline-block;
	min-width: 300px;
	margin-top: 10px;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
}

#link_to_user {
	vertical-align: top;
}

#link_to_user:hover, #link_to_user:focus, #link_to_user:active {
	text-decoration: none;
}

.user_review_image_div {
    width: 70px;
    height: 70px;
    display: inline-block;
}

.user_review_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#user_name {
	font-size: 20px;
	font-family: "klavika", Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin-left: 5px;
	vertical-align: top;
}

#review_date {
	margin-top: 50px;
	text-align: right;
	height: 20px;
	float: right;
}

#last_updated {
	float: right;
	margin-top: 80px;
}

#review_div {
	background-color: #E9E9E9;
	border: none;
}

#review_content {
	height: auto;
	width: 100%;
	padding: 15px;
	margin-top: 10px;
	background-color: white;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	border-radius: 5px;
}

#review_content img {
	max-width: 100%;
    height: auto;
}

#review_title {
	text-align: center;
	margin-bottom: 30px;
	color: #333333;
	font-size: 32px;
	font-weight: bold;
}

#scores_div {
	position: relative;
	height: auto;
	min-height: 150px;
	border-top: 1px solid #DEDEDE;
	background-color: white;
	text-align: center;
	font-size: 0;
}

.score_div {
	position: relative;
	margin: 0 auto;
	margin-top: 25px;
	height: 100px;
	width: 170px;
	display: inline-block;
	border-right: 1px solid #DEDEDE;
	border-left: 1px solid #DEDEDE;
	font-size: 20px;
}

.score {
	display: block;
	font-size: 25px;
}

