@CHARSET "UTF-8";
@import url("home.css");

#personal_info_div {
	width:450px;
	margin-top: 20px;
	height:auto;
	border-radius: 2px;
}

.div_title {
	background-color: rgba(211, 211, 211, 0.5);
	padding-top:5px;
	padding-left:10px;
	padding-bottom:1px;
}

.div_title > p {
	font-size: 16px;
	font-family: cursive;
}

.div_content  {
	background-color: white;
	padding-top:20px;
	padding-left:10px;
	padding-bottom:10px;
}

.edit_icon {
	float: right; 
	margin-right: 5px;
	margin-top: 5px;
	display:inline-block;
	cursor:pointer;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.edit_icon:hover {
	color:red;
}

#user_description {
	margin-bottom: 30px;
}

#edit_content_div {
	display:none;
}

.save_button {
	float:right;
	outline:none;
	border:none;
	background-color:#23272D;
	display:none;
	font-size: 11px;
	margin-right: 10px;
	opacity: 0.8;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.save_button:hover {
	opacity: 1;
	background-color:#23272D;
}

.save_button:focus {
	outline:none;
	background-color:#23272D;
}

.btn.btn-primary.save_button:active {
	background-color:#23272D;
}

#user_description_area {
	margin-left:10px;
	margin-top:10px;
	max-width:410px;
	border: 1px solid rgba(211, 211, 211, 1);
}

#user_description_area_char_count {
	float:right;
	margin-right:5px;
	
}

#age_edit, #gender_edit, #location_edit {
	border: 1px solid rgba(211, 211, 211, 1);
	padding-left:5px;
}

#wtf_age { 
	display:none;	
	color:red;
}